<header>
    <div class="header-content">
        <div class="logo">
            <!-- <i class="fas fa-dumbbell"></i> -->
            <span class="logo-icon"><img src="../icons/logo_focus_fit.png" alt=""></span>
        </div>
        
        <div class="header-actions">
            <!-- Contenedor de usuario -->
            <div class="user-menu">
                <!-- <span id="user-info" style="margin-right: 15px; color: #666; font-size: 14px;"></span> -->
                <button id="btn-logout" style="display: none;">
                    <i class="fas fa-sign-out-alt"></i> <p class="logout">Cerrar Sesión</p>
                </button>
            </div>
            
            <div class="notifications">
                <button class="notification-bell">
                    <i class="fas fa-bell"></i>
                    <span class="notification-count">0</span>
                </button>
                <div class="notification-dropdown">
                    <div class="notification-header">
                        <span>Notificaciones</span>
                        <i class="fas fa-times close-notifications"></i>
                    </div>
                    <div class="notification-content">
                        <!-- Las notificaciones se cargarán dinámicamente -->
                    </div>
                </div>
            </div>
            
            <button class="menu-toggle">☰</button>
            <nav>
                <ul>
                    <li><a href="/gymadmin/"><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href="/gymadmin/clientes.html"><i class="fas fa-users"></i> Clientes</a></li>
                    <li><a href="/gymadmin/rendimientos.html" ><i class="fas fa-chart-line"></i> Rendimientos</a></li>
                    <li><a href="/gymadmin/notificaciones.html"><i class="fas fa-bell"></i> Notificaciones</a></li>
                    <li><a href="/gymadmin/configuracion.html"><i class="fas fa-cog"></i> Configuración</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
